body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 32px;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
}

.ios {
    background: #3333ff;
    box-shadow: 0 0 20px #3333ff;
}

.android {
    background: #00a000;
    box-shadow: 0 0 20px #00ff00;
}

.button:hover {
    transform: scale(1.05);
}
